*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #F5F5F5;
  color: #444;
  font-family: "Helvetica Neue", Arial, serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  margin: 10px 0 15px;
}
h2 {
  text-align: center;
}
p, ul {
  margin: 10px 0;
}

ul li {
  margin-left: 30px;;
}
span {
  color: #e91e63;
}

/******************/
/* Header section */
/******************/
.header {
  align-items: center;
  background-color: #EFEFEF;
  background-image: url('bg.jpg');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-top: 4px solid #e91e63;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  min-height: 250px;
  padding: 0 20px;
  position: relative;
  text-align: center;
}
@media only screen and (max-device-width: 420px)  {
  .header {
    background-size: auto 100%;
  }
}

.header:before {
  background: rgba(0, 0, 0, .7);
  bottom: 0;
  content: ' ';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.header * {
  position: relative;
  z-index: 2;
  text-shadow: 1px 1px 10px black;
}

.header h1 {
  font-size: 4rem;
  font-weight: 100;
}

.header h2 {
  font-size: 2.1rem;
  font-weight: 100;
  margin: 5px 0;
}

/***********************/
/*  My Skills section  */
/***********************/
.rocking {
  background: #e91e63;
  color: white;
  font-family: "Helvetica Neue", Arial, serif;
  font-size: 24px;  
}

.content-wrapper {
  line-height: 1.4;
  margin: 0 auto;
  max-width: 900px;
  padding: 30px 25px;
}

/******************/
/*  AJAX section  */
/******************/
#user {
  text-align: center;
}
#user img{
  height: 150px;
  border-radius: 50%;
}

#badges {
  text-align: center;
}

.course {
  background: #F5F5F5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px #EAEAEA;
  display: inline-block;
  height: 325px;
  margin: 20px 10px;
  padding: 15px 10px;
  width: 200px;
  text-align: center;
}

.course h3 {
  color: #999;
  font-size: 1.9rem;
  font-weight: 200;
}

.course img {
  border: none;
  height: 150px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 150px;
}

.course a {
  display: block;
}

#badge {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.earnedBadges {
  display: inline-block; 
}

.earnedBadges h3 {
  color: #999;
  font-size: 1.9rem;
  font-weight: 200;
}

.earnedBadges img {
  border: none;
  height: 100px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 100px;
  padding: 5px;
}
